<div ng-show="authenticated">
    <div ng-cloak class="ng-cloak">
        <form ng-submit="addMessage()">
            <input type="text" placeholder="type message" ng-model="message">
            <button type="submit" class="btn btn-primary">Send</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Message</th>
            </tr>
            </thead>
            <tbody ng-repeat="message in messages">
            <tr>
                <th>
                    <p>{{message.messageDateTime}}</p>
                </th>
                <th>
                    <p>{{message.authorUsername}}</p>
                </th>
                <th>
                    <p>{{message.message}}</p>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div  ng-show="!authenticated">
    <p>Login to see this!</p>
</div>